.header {
  width: 100%;
  background: radial-gradient(100% 215.42% at 0% 0%, #ffffc8 0%, #c4b19a 100%), #211F20;

  &_theme {
    background: radial-gradient(100% 215.42% at 0% 0%, #95958b 0%, #100d0a 100%), #211F20;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
}

.logo__img {
  width: 70px;
}

.logo__header {
  font-family: fantasy;
  font-size: 4rem;
}