.header {
  width: 100%;
  background: radial-gradient(100% 215.42% at 0% 0%, #ffffc8 0%, #c4b19a 100%), #211F20;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 0;
}

.logo__img {
  width: 150px;
}