/* Footer start */

.footer {
    background: url(../../assets/images/start-screen-gradient-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wraper {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

.footer__img {
    width: 300px;
    height: 310px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    margin-top: 16px;
}

.footer__question {
    max-width: 279px;
}

.footer__visit {
    max-width: 302px;
}

.footer__header {
    color: #ffffff;
}

.footer__subblock {
    display: flex;
    align-items: center;

    &:hover {
        >.footer__title {
            color: #fddcc4;
        }

        >.footer__questions_icon {
            path {
                fill: #fddcc4;
            }
        }
    }
}

.footer__questions_icon path {
    transition: all 0.3s;
}

.footer__questions_icon {
    margin-right: 20px;
}

.footer__title {
    color: #F1CDB3;

    transition: all 0.3s;
}

/* Footer end */