.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition-duration: 0.5s;
    transition-property: opacity, visibility;
    background-color: #29292960;
    
    &_vicible {
        visibility: visible;
        opacity: 1;
        
    }

    /* &_burger {
        background-color: #29292960;
        
    } */
}