.modal {
    visibility: hidden;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;

    &_vicible {
        visibility: visible;
        opacity: 1;
        
    }

    &_burger {
        background-color: #29292960;
        
    }
}