$main-background: #000000;
$main-text-color: #727272;
$button-race: #a2eaa4;
$button-race-border: #69a741;
$button-car: #aedeeb;
$button-car-border: #41a3a7;
$button-hover: #48acac;
$engine-btn-active: #45cf49;

$light-text-color: #cac8c8;
$main-background-transparent: #2e2a23b5;
$dark-border: #00000036;
$grey-transparent: #00000016;
$white: #ffffff;

$width_lg: 1023px;
$width_md: 700px;
