.page-buttons {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.input-text {
  height: 20px;

  &_inactive {
    background-color: $btn-inactive;
    cursor: default;
  }
}

.input-color {
  height: 20px;
}

.page-container {
  padding-top: 20px;
  height: 700px;

  &_height {
    height: fit-content;
  }
}

.page__head,
.page__number {
  padding-bottom: 10px;
  color: #f0f8ff;
}

.car-module {
  margin-bottom: 10px;
}

.car__btn {
  margin-bottom: 10px;
}

.car__start,
.car__stop {
  border: 2px solid;
  border-radius: 3px;
  padding: 3px;
  margin-right: 10px;

  &_active {
    cursor: pointer;
    border: 2px solid $engine-btn-active;
    color: $engine-btn-active;

    @include hover {
      background-color: #333333;
    }
  }
}

.car-engine {
  margin-bottom: 8px;
}

.car-road {
  border-bottom: 3px dashed #ffffff;
}

.flag-img {
  width: 17px;
  position: relative;
  left: calc(100% - 100px);
}

.page__pagination {
  margin-top: 20px;
}

.results-table {
  color: $table-color;
  font-size: 1.5rem;
  border-collapse: collapse;
  border: #ffffff 1px solid;
}

.table__head {
  background-color: $table-head;
}

.head__td {
  cursor: pointer;
}

.sort-up::after {
  content: " ↓";
}

.sort-down::after {
  content: " ↑";
}

.winner-popup {
  position: absolute;
  top: 71px;
  left: 315px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: white;
  filter: drop-shadow(2px 4px 3px white);
}