.page-buttons {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.input-text {
    height: 20px;
}

.input-color {
    height: 20px;
}