* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

svg {
  transition: transform linear;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: $main-text-color;
  background-color: $main-background;
}

.hidden {
  display: none;
}

.wrapper {
  padding: 20px 10px;

  &_absolute {
    position: absolute;
    top: 0;
  }

  &_hidden {
    visibility: hidden;
  }
}

th,
td {
  padding: 10px;
}