$main-text-color: #727272;
$light-text-color:#cac8c8;
$main-background: #2e2a23;
$main-background-transparent: #2e2a23b5;
$dark-border: #00000036;
$grey-transparent: #00000016;
$white: #ffffff;

$width1: 1023px;
$width2: 700px;
