* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

a {
    text-decoration: 0;
}

ul {
    list-style-type: none;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;

}

/* .text-arial {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
 */

/*Header start*/
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.wraper {
    max-width: 1280px;
    margin: 0 auto;
}

.header__wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    margin: 0 40px 0 40px;
}

.header__nav {
    margin: auto 0;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 35px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    color: #fafafa;
}

.header__link_border {
    height: 3px;
    width: auto;
    background: #F1CDB3;
}

.header__logo-link h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}

.header__logo-link h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #ffffff;
    padding-left: 4px;
    margin-top: 10px;
}

/*Header end*/
/*main_start-screen start*/

.start {
    height: 908px;
    background: url(../img/start-screen-gradient-background.png),
        radial-gradient(100% 215.42% at 0% 0%,
            #5B483A 0%, #262425 100%), #211F20;
}

.start__wraper {
    display: flex;
    margin: 0 40px 0px 40px;
    padding-top: 180px;

}

.start__text {
    max-width: 460px;
    height: max-content;
    position: relative;
    top: 163px;
    margin-right: 42px;
}

.start__text__h {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #ffff;
}

.start__text__p {
    margin: 42px 0 42px 0;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* display: flex; */
    /* align-items: center; */
    color: #cdcdcd;
}

.btn {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background: #f1cdb3;
    border-radius: 100px;
    text-decoration: none;
    padding: 15px 45px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
/* .start__btn {
    width: 207px;
    height: 52px;
} */

.start__puppy {
    width: 698px;
}

/*main_start-screen end*/
/* About start */

.about__wraper {
    display: flex;
    /* height: 588px; */
    padding: 80px 40px 100px 40px;
}

.about__img {
    width: 300px;
    height: 408px;
    margin: 0 120px 0 175px;
}

.about__text {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 380px;
    justify-content: space-between;
    align-self: center;
}

.about {
    height: 588px;
}

.about__text h3 {
    max-width: 370px;
    min-width: 300px;
}

/* About end */
/* Pets start */

.pets {
    background: #f6f6f6;
}

.pets__wraper {
    padding: 80px 40px 100px 40px;

}

.pets__title {
    width: 400px;
    margin: 0 auto 60px;
    text-align: center;
}

.pets__slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

}

.pets__slider__button {
    display: flex;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    
}

.button__arrow {}

.pets__slider__container {
    width: 990px;
}

.card__container {
    display: flex;
    /* justify-content: space-between; */
}

.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    margin-right: 90px;
}

.card:last-child {
    margin-right: 0;
}

.card__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin-bottom: 30px;
}

.card__btn {
    width: 187px;
    height: 52px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    margin: 0 auto;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.card__img {
    margin-bottom: 30px;
}

.pets__btn {

}
/* Pets end */