.foarms {
  display: flex;
  width: 100%;
  border: 10px solid $dark-border;
  border-radius: 6px;

  &_animation {
    animation: shake 0.5s;
  }
}

.editor {
  width: 50%;
}

.editor__title {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: $grey-transparent;
  border: 1px solid;
}

.text-foarm {
  display: flex;
  align-items: flex-start;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;

  &_editor {
    background-color: $white;
  }

  &_viewer {
    background-color: $dark-border;
  }
}

.text-foarm__code {
  padding: 10px;
  font-weight: 700;
}

.rows-count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  background-color: $grey-transparent;

  &_viewer {
    border-right: 1px solid;
  }
}

.css {
  width: calc(100% - 37px);;
}

.selector__input {
  display: flex;
  width: 100%;
}

.input {
  border: none;
  outline: none;
  flex-grow: 1;
  margin: 12px 10px 0;

  &_strobe {
    animation: color 0.3s infinite alternate;
  }
}

.tag {
  cursor: default;

  &_light {
    filter: brightness(1.75);
  }
}

@keyframes color {
  from {
    background-color: #12464647;
  }

  to {
    background-color: #12464600;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}