.body-wrapper {
  background-color: $main-background;
}

.left-field {
  width: 80%;
  height: 100%;
}

.right-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 60px 25px 25px;
  background-color: $dark-border;
}

.container {
  padding: 20px 40px;
}

// Header
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}

.header-icon {
  width: 60px;
}




/* .square {
  width: 130px;
  height: 130px;
  background: blue;
}

.circle {
  width: 120px;
  height: 120px;
  background: green;
  border-radius: 60px;
}

.oval {
  width: 200px;
  height: 100px;
  background: blue;
  border-radius: 100px / 50px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid green
}

.parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: red;
} */