.body-wrapper {
  background-color: $main-background;
}

.left-field {
  width: 80%;
  height: 100%;
}

.right-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 60px 25px 25px;
  background-color: $dark-border;

  @include media-font {
    padding: 60px 10px 10px;
  }
}

.container {
  padding: 20px 40px;

  @include media-form {
    padding: 20px 20px;
  }

  @include media-font {
    padding: 20px 10px;
  }
}

// Header
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}

.header-icon {
  width: 60px;
}
