/* About start */

.about__wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 100px 40px;

    @include media-tablet {
        padding: 80px 30px 100px 30px;
        flex-direction: column-reverse;
    }
}

.about__img {
    display: flex;
    padding-right: 120px;

    @include media-tablet {
        padding-right: 0;
    }
}

.about__text {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    /* height: 380px; */
    /* justify-content: space-between; */
    align-self: center;
    // padding-right: 20px;

    h3 {
        max-width: 370px;
        min-width: 300px;
    }
    .text_margin {
        margin-bottom: 25px;
    }

    @include media-tablet {
        padding-bottom: 80px;
    }
}

.about {
   /*  height: 588px; */
}

/* About end */
