/* About start */

.about__wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 100px 40px;

    @include media-tablet {
        padding: 80px 30px 100px 30px;
        flex-direction: column-reverse;
    }

    @include media-mobile {
        padding: 42px 10px;
    }

}

.about__img {
    display: flex;
    padding-right: 120px;

    @include media-tablet {
        padding-right: 0;
    }

    @include media-mobile {
        max-width: 260px;
    }

    img {
        @include media-tablet {
            width: 100%;
        }
    }
}

.about__text {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    align-self: center;
    @include media-mobile-fonts {
        align-items: center;
    }
    @include media-mobile {
        padding: 0 15px;
    }

    h3 {
        max-width: 370px;
        margin-bottom: 24px;

        @include media-mobile-fonts {
            text-align: center;
            max-width: 260px;
        }
    }
    .text_margin {
        margin-bottom: 24px;

        @include media-mobile {
            margin-bottom: 22px;
        }
    }

    @include media-tablet {
        padding-bottom: 80px;
    }
    @include media-mobile {
        padding-bottom: 42px;
    }

    >p {
        @include media-mobile-fonts {
            text-align: justify;
        }
    }
}

.about {
   /*  height: 588px; */
}

/* About end */
