/* Pets-main start */

.pets-main {
    background: #f6f6f6;
}

.pets-main__wraper {
    display: flex;
    flex-direction: column;
    padding: 80px 40px 100px 40px;

    @include media-laptop-start {
        padding: 80px 30px 100px 30px;
    }

    @include media-mobile {
        padding: 42px 10px 42px;
    }
}

.pets-main__title {
    width: 400px;
    margin: 0 auto 59px;
    text-align: center;

    @include media-mobile-slider {
        width: 100%;
    }

    @include media-mobile {
        margin: 0 auto 41px;

    }
}

.pets-main__slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include media-laptop-slider {
        justify-content: center;
    }

    @include media-mobile-slider {
        flex-wrap: wrap;
        width: 270px;
        margin: 0 auto 42px;
    }
}

.pets-main__slider__container {
    display: flex;
    width: 990px;
    overflow: hidden;
    margin: 0 12px;

    @include media-laptop-slider {
        max-width: 580px;
    }

    @include media-mobile-burger {
        max-width: 270px;
    }

    @include media-mobile-slider {
        margin-bottom: 20px;
    }
}

.slider__wraper {
    display: flex;
    position: relative;
    left: -1080px;
    column-gap: 90px;

    @include media-laptop-slider {
        left: -620px;
        column-gap: 40px;
    }

    @include media-mobile-burger {
        left: -310px;
    }

    &_animation-left {
        animation: go-left-3-column 1s ease-in-out;

        @include media-laptop-slider {
            animation: go-left-2-column 1s ease-in-out;
        }

        @include media-mobile-burger {
            animation: go-left-1-column 1s ease-in-out;
        }
    }

    &_animation-right {
        animation: go-right-3-column 1s ease-in-out;

        @include media-laptop-slider {
            animation: go-right-2-column 1s ease-in-out;
        }

        @include media-mobile-slider {
            animation: go-right-1-column 1s ease-in-out;
        }
    }

}

.card__container {
    display: flex;
    //position: relative;
    column-gap: 90px;

    @include media-laptop-slider {
        column-gap: 40px;
        left: -620px;
    }

    @include media-mobile-burger {
        left: -310px;
    }

    /*     &_center {
        margin: 0 90px;

        @include media-laptop-slider {
            margin: 0 40px;
        }

    }
 */

}

@keyframes go-left-3-column {
    from {
        left: -1080px;
    }

    to {
        left: -2160px
    }
}

@keyframes go-left-2-column {
    from {
        left: -1080px;
    }

    to {
        left: -2160px
    }
}

@keyframes go-left-1-column {
    from {
        left: -1080px;
    }

    to {
        left: -2160px
    }
}

@keyframes go-right-3-column {
    from {
        left: -1080px;
    }

    to {
        left: 0px
    }
}

@keyframes go-right-2-column {
    from {
        left: -620px;
    }

    to {
        left: 0px
    }
}

@keyframes go-right-1-column {
    from {
        left: -310px;
    }

    to {
        left: 0px
    }
}


/* Pets-main end */