$content-width: 1280px;
$content-slider-width: 1120px;
$content-start-width: 860px;
$tablet-width: 768px;
$mobile-burger-width: 767px;
$mobile-fonts-width: 385px;
$mobile-slider-width: 480px;
$mobile-width: 320px;