$content-width: 1280px;
$content-slider-width: 1220px;
$content-dual-pets-width: 969px;
$content-start-width: 860px;
$tablet-width: 768px;
$mobile-burger-width: 767px;
$mobile-single-pets-width: 639px;
$mobile-slider-width: 480px;
$mobile-fonts-width: 385px;
$mobile-width: 320px;