.btn {
  font-size: 1rem;
  border-radius: 3px;
  border-bottom: 5px solid $button-car-border;
  margin: 0 5px 0;
  padding: 2px 7px;
  cursor: pointer;
  background-color: $button-car;
  transition: background-color 0.3s;

  @include hover {
    background-color: $button-hover;
  }

  &_color {
    background-color: $button-race;
    border-bottom: 5px solid $button-race-border;

    @include hover {
      background-color: $button-hover-active;
    }

  }

  &_inactive {
    background-color: $btn-inactive;
    border-bottom: 5px solid $btn-inactive-border;
    cursor: default;

    @include hover {
      background-color: $btn-inactive;
    }
  }
}