.btn {
  border-radius: 3px;
  border-bottom: 5px solid #41a3a7;
  margin: 0 5px 0;
  padding: 2px 7px;
  cursor: pointer;
  background-color: #aedeeb;
  transition: background-color 0.3s;

  &_color {
    background-color: #a2eaa4;
    border-bottom: 5px solid #69a741;

  }

  @include hover {
    background-color: #48acac;
  }
}
