.right-field__title {
  margin-bottom: 20px;
}

.levels {
  margin-bottom: 15ps;
}

.levels__list {
  cursor: pointer;

  &_win {
    color: #008000
  }

  &_help {
    color: #ffff00;
  }

  &_light {
    color: $light-text-color;
  }

  @include hover {
    color: $light-text-color;
  }
}