.right-field__title {
  margin-bottom: 20px;
}

.levels {
  margin-bottom: 15px;
}

.levels__list {
  cursor: pointer;
  list-style-type: none;

  &:before {
    content: '✔ ';
  }

  &_win {
    color: #008000;
  }

  &_help {
    color: #ffff00;
  }

  &_light {
    color: $light-text-color;
  }

  @include hover {
    color: $light-text-color;
  }
}
